<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
</head>
<body>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Year Of Production</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car: ${listOfCars}">
        <td th:text="${car.getModel()}"/>
        <td th:text="${car.getBrand()}"/>
        <td th:text="${car.getYearOfProduction()}"/>
    </tr>
    </tbody>
</table>
</body>
</html>